<h1 class="mt-2"><%= @user.username %>'s profile</h1>

<div class="mb-4">
  <%= gravatar_for @user, size: 200 %>
</div>

<div class="text-center mb-4">
  <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-info' %>
</div>

<%= render 'articles/article_list', articles: @user.articles %>