@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #B8B69F !important;
}
  
.navbar-brand {
  font-size: 3rem;
}

a:link, a:visited {
  color: #664439;

}

h1 {
  color: #664439;
}