<h1 class="mt-2">Edit Category </h1>

<div class="container">

  <%= render 'form' %>

  <div class="text-center pb-3">
    [ <%= link_to 'Cancel', category_path(@category), class: "text-center" %> ]
  </div>

</div>
