<h1 class="mt-2">Create new Category </h1>

<div class="container">

  <%= render 'form' %>

  <div class="text-center pb-3">
    [ <%= link_to 'Cancel', categories_path, class: "text-center" %> ]
  </div>

</div>
