<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <%= link_to 'Articles', articles_path, class: "text-reset" %> |
    <%= link_to 'About', about_path, class: "text-reset" %> |
    <small>Copyright &copy; GD</small>
  </div>
</footer>